body {
  margin: 0;
  font-family: Nexa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: "Nexa";
	src: local("Nexa  Light"), local("Nexa--Light"),
		url("./fonts/Nexa-Light.woff2") format("woff2"),
		url("./fonts/Nexa-Light.woff") format("woff"),
		url("./fonts/Nexa-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

/* Color vars */
:root {
	--white: #fff;
	--black: #000000;
	--dark-blue: #0B2647;
	--orange: #FF7F32;
}