@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer components {
	.loader {
		/* On applique la largeur et l’aspect-ratio via Tailwind */
		@apply w-[60px] [aspect-ratio:1.7];

		/* Définition de la variable CSS et du background */
		--_g: no-repeat radial-gradient(circle closest-side, #feb272 90%, #0000);
		background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
		background-size: calc(100% / 3) 50%;

		/* Application de l’animation configurée dans tailwind.config.js */
		@apply animate-l3;
	}
}
